<!doctype html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

        <title>Crear Pokemon</title>

    <link rel="stylesheet"
          href="/bootstrap/css/bootstrap.css">


    <link rel="stylesheet"
          href="/css/animate.css">

    <link rel="stylesheet"
          href="/css/mis-estilos.css">

    <style>
        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
            background-color: #333;
        }

        li {
            float: left;
        }

        li a {
            display: block;
            color: white;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
        }

        li a:hover:not(.active) {
            background-color: #111;
        }

        .active {
            background-color: #4CAF50;
        }
    </style>

</head>
<body class="bg-dark">

<% const esUsuarioLocal = typeof esUsuario !== "undefined" ? true : false; %>
<% const esAdministradorLocal = typeof esAdministrador !== "undefined" ? true : false; %>
<% const hayEntrenadores = typeof arregloEntrenadores !== "undefined" ? true : false; %>
<!--/container-->


<% if(esUsuarioLocal || esAdministradorLocal){ %>
    <% if(esUsuario){ %>

        <% const existeMensaje = typeof mensaje !== "undefined" ? true : false; %>

        <% if(existeMensaje){ %>

            <div class="alert alert-danger alert-dismissible">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                MENSAJE: <%= mensaje %>
            </div>
        <% } %>

        <div class="container py-4">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="text-center text-white mb-4">Registro Pokemon</h2>
                    <div class="row">
                        <div class="col-md-6 mx-auto">

                            <!-- form card login -->
                            <div class="card rounded-0">
                                <div class="card-header">
                                    <h3 class="mb-0">Ingrese los datos</h3>
                                </div>
                                <div class="card-body">
                                    <form form action="/Entrenador/crearPokemon/" method="post" class="form" role="form">




                                        <div class="form-group">
                                            <label for="numeroPokemon"># Pokemon</label>
                                            <input id="numeroPokemon"
                                                   name="numeroPokemon" type="number" min="1"
                                                   class="form-control form-control-lg rounded-0">
                                        </div>

                                        <div class="form-group">
                                            <label for="nombrePokemon">Nombre</label>
                                            <input id="nombrePokemon"
                                                   name="nombrePokemon" type="text"
                                                   class="form-control form-control-lg rounded-0">
                                        </div>
                                        <div class="form-group">
                                            <label for="poderEspecialUno">Poder especial uno</label>
                                            <input id="poderEspecialUno"
                                                   name="poderEspecialUno" type="text"
                                                   class="form-control form-control-lg rounded-0">
                                        </div>
                                        <div class="form-group">
                                            <label for="poderEspecialDos">Poder especial dos</label>
                                            <input id="poderEspecialDos"
                                                   name="poderEspecialDos" type="text"
                                                   class="form-control form-control-lg rounded-0">
                                        </div>
                                        <div class="form-group">
                                            <label for="fechaCaptura">Fecha de captura</label>
                                            <input id="fechaCaptura"
                                                   name="fechaCaptura" type="date"
                                                   class="form-control form-control-lg rounded-0">
                                        </div>
                                        <div class="form-group">
                                            <label for="nivel">Nivel</label>
                                            <input id="nivel"
                                                   name="nivel" type="number" min="0"
                                                   class="form-control form-control-lg rounded-0">
                                        </div>

                                        <div class="form-group">
                                            <label for="entrenador">Entrenador</label>
                                            <select name="entrenador" id="entrenador">

                                                <% arregloEntrenadores.forEach((entrenador)=>{ %>
                                                <option value=<%=entrenador.id%>> <%= entrenador.nombres%> <%= entrenador.apellidos%></option>
                                                    <% })%>

                                            </select>
                                        </div>



                                        <button class="btn btn-success btn-lg float-left">Crear pokemon</button>



                                    </form>
                                    <a href="/inicio">
                                        <button class="btn btn-info btn-lg float-right">Cancelar</button>
                                    </a>
                                </div>
                                <!--/card-block-->
                            </div>
                            <!-- /form card login -->

                        </div>


                    </div>
                    <!--/row-->

                </div>
                <!--/col-->
            </div>
            <!--/row-->
        </div>

    <% }else { %>
        <h3 class="mb-0">No tiene permisos de ningun tipo.</h3>
    <% } %>
<% }else { %>
    <h3 class="mb-0">No tiene permisos de ningun tipo.</h3>
<% } %>


<%- include('../comunes/librerias')%>


<%- include('../comunes/footer')%>